@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    background-position: center center;
}
p{
    width: 80%;
}
button{
    width: 100px;
    height: 30px;
    background-color: #062170;
    border: 2px solid white;
    color: aliceblue;
    text-align: center;
}
button:hover{
    background: #6D87D6;
    color: #476BD6;
}
section{
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 2em;
    font-weight: 800;
    margin: 0 auto;
    text-align: center;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #062170;
}
nav a{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    padding: 8px 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;
}
nav a:hover,
section#sec1:hover~nav a[href="#sec1"],
section#sec2:hover~nav a[href="#sec2"],
section#sec3:hover~nav a[href="#sec3"]
{
    background: #6D87D6;
    color: #476BD6;
}

.slider{
    width: 256px;
    height: 256px;
    
    margin: auto;
    overflow: hidden;
}
.slider-line{
    height: 256px;
    width: 1280px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

@media (max-width:1440px){
    section{
        font-size: 1.5em;
    }
    nav a{
        font-size: 1.2em;
    }
}

@media (max-width:1024px)
{
    section{
        font-size: 1.1em;
    }
    nav a{
        font-size: 1em;
    }
}

@media (max-width:768px)
{
    section{
        font-size: 0.9em;
    }
    nav a{
        font-size: 0.7em;
    }
    button{
        width: 80px;
        height: 25px;
    }
}

@media (max-width:425px){
    section{
        font-size: 0.9em;
    }
    nav a{
        font-size: 0.7em;
    }
    button{
        width: 70px;
        height: 20px;
    }
}

@media (max-width:375px){
    section{
        font-size: 0.9em;
    }
    nav a{
        font-size: 0.7em;
    }
    button{
        width: 70px;
        height: 20px;
    }
}
